@import '../../bower_components/foundation/scss/normalize.scss';
@import '../../bower_components/foundation/scss/foundation.scss';

.orange {
  background-color: #FF7400;
  height: 100px;
}

.yellow {
  background-color: #FFAA00;
  height: 100px;
}

.red {
  background-color: #FF0000;
  height: 100px;
}