@import '../../bower_components/foundation/scss/normalize.scss';
@import '../../bower_components/foundation/scss/foundation.scss';
@import 'cf-global.scss';
@import 'fonts.scss';

.orange {
  background-color: $cf-orange;
  height: 10px;
}

.yellow {
  background-color: $cf-yellow;
  height: 10px;
}

.red {
  background-color: $cf-red;
  height: 10px;
}